# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
ENV/
*.env

# OS / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Node / frontend (if using npm)
node_modules/
dist/
build/
